<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="about-page">
        <div class="about-header">
            <h1>About Groupie Tracker</h1>
        </div>
        <div class="about-content">
            <p>Groupie Tracker is a web application that allows you to explore and learn about your favorite music artists.</p>
            <p>With Groupie Tracker, you can browse through a vast collection of artist profiles, each containing detailed information about their music, albums, and concert locations & dates.</p>
            <br><p>This project was developed by Zone01 Oujda talent, Ismail Bentour in collaboration with Youness .</p>
        </div>
        <button class="home-button" onclick="window.location.href='/'">Go Home</button>
    </div>
</body>
</html>
